@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

:root {
  --color-1: #12eae4;
  --color-2: #008289;
  --spacer: 32px;
  --main-width: 60%;
}

body {
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

li::before {
  content: '-';
}

a, a:hover, a:visited:hover {
  color: var(--color-1);
}

a:visited {
  color: var(--color-2);
}
main {
  margin: var(--spacer) auto;
  width: var(--main-width);
}
