@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

:root {
  --color-1: #50e3c2;
  --color-2: #ff2e88;
  --spacer: 32px;
}

body {
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

li::before {
  content: '-';
}

a {
  color: var(--color-1);
}

a:hover,
a:visited {
  color: var(--color-2);
}

main {
  margin: var(--spacer) auto;
  width: 60%;
}
