@import '../shared/base.css';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  background-image: paint(container-background);
  padding: 64px;
  margin: 0 auto;
  width: 80%;
}
